@use "forwards" as fw

// WEBフォントのインポート
/* Noto+Sans+JP gothic */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500;700;900&display=swap")
/* font-family: "Noto Sans JP", sans-serif; */

/* Monoton */
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap')
/* font-family: 'Monoton', cursive; */

/* Anton */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap')
/* font-family: 'Anton', sans-serif; */

:root 
  // 本文15px
  font-size: 93.75%
  scroll-behavior: smooth
  /*  ページ先頭の要素に付ける。戻る位置を調整してくれる。
      scroll-margin-top: 80px  */

body 
  max-width: 100%
  width: 100%
  font-family: fw.$anton
  line-height: 1.5
  color: #fff
  transition: 0.3s ease-out
  // overflow-x: hidden
  // スクロール領域の境界に達したときに
  // ブラウザーが何をするかを設定します。
  overscroll-behavior: none