// fonts
$webBase: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif
$monoton: 'Monoton', cursive

// colors
$col-black: #141414
$col-white: #fff
$col-red: #de4010
$col-yellow: #ebb604