@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

$ft-anton: 'Anton', sans-serif;

html {
  // 本文15px
  font-size: 93.75%;
  scroll-behavior: smooth;
  /*  ページ先頭の要素に付ける。戻る位置を調整してくれる。
      scroll-margin-top: 80px;  */
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.7;
  color: #555;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto 50px;
  padding: 0 0 20px;
}

header {
  display: grid;
  place-items: center;
  height: 90vh;
  margin-bottom: 50px;
  color: #fff;
  background-color: #333;
  font-family: $ft-anton;
  font-size: 70px;
  text-transform: capitalize;
  letter-spacing: 0.05em;
}

main {
  // 親要素の幅が600ピクセル以上の場合、要素の幅は1000ピクセル
  // もし親要素の幅が600ピクセル未満の場合、要素の幅は親要素の幅の95%に設定
  // width: min(600px, 95%);
  // max-width: 600px;
  // width: 100%;
  background-color: #eee;
  border-radius: 10px;
}

section {
  min-height: 500px;
  padding: 30px;
  border-radius: 10px;
  background-color: #aaa;
  &+ section {
    margin-top: 30px;
  }
  h2 {
    padding-bottom: 10px;
    font-family: $ft-anton;
    font-size: 30px;
    line-height: 1;
    color: #fff;
    border-bottom: 1px solid currentColor;
  }
}


