@charset "UTF-8";

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1050px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: #eee;
}

article {
  position: relative;
}

.box-one {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 300px;
  height: 300px;
  padding-bottom: 3rem;
  font-size: 20rem;
  font-weight: 900;
  color: #777;
}

.box-one.shadow {
  top: 15rem;
  left: 10rem;
  color: transparent;
  text-shadow: 0 0 1rem #aaa;
}
