@use '../forwards' as fw

.area
  overflow: hidden
.wrap
  display: flex
.item
  display: flex
  justify-content: center
  align-items: center
  height: 100vh
  font-size: 50px
  font-weight: 700
  color: #fff

$colors: #ea0404, #b06145, #f18d1d, #f8b633, #f8f833, #8cc561, #3d6b35, #569caa, #1631e6
@each $col in $colors 
  .item0#{ index($colors, $col) }
    background-color: #{ $col }